.box1 {
  border: 5px solid blue;
  background-color: blueviolet;
}

.box2 {
  border: 2px dotted red ;
  border-radius: 5px;
  background-color: greenyellow;
}

.text1 {
  color: #FFC300;
  background-color: blue;
}

.text2 {
  color: rgb(235,62,71);
  background-color: burlywood;
}

.box3 {
  background-color: rgba(230, 230, 250, 0.6);
}

.box5 {
  box-shadow: 8px 20px 15px teal;
  background-color: lemonchiffon;
}

.box6 {
  box-shadow: 5px -10px #800000;
  background-color: papayawhip;
}

h2 {
  opacity: 0.5;
}

/* do not change below this line */

body {
  padding: 20px;
}

.container {
  position: relative;
}

.box4 {
  top: 0;
  left: 5px;
  background-color: hotpink;
  position: absolute;
  z-index: -1;
}

.text {
  width: 500px;
  padding: 5px;
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  margin: 0 20px;
  box-sizing: border-box;
}
